# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
.env/
.env

# Ignore other files and directories
*.log
.vscode/
*.tmp
network_discovery/network_discovery.py
# network_discovery/main.py
neighbors.json
